<section id="install">
  <header>
    <h2>
      <img src="img/header-icon.png" style="width: 23px; height: 23px;" class="githug-logo">
      Githug
    </h2>
  </header>
  <div class="contents">
    <h2>Install Githug</h2>
    If you are now on mobile,<br>
    using <a href="https://github.com/" target="_blank">Github</a> is better.
  </div>
  <footer>
    Tab the icon below<br>
    to <span class="bold">Add to Home Screen</span>
    <i class="icon-circle-arrow-down icon-3x"></i>
  </footer>
</section>