<ng-include src="'partials/sideMenus.html'"></ng-include>

<div class="wrapper" ng-class="{'sidemenu-left-open': openSideMenu, activeSearchBar:searchBar}">
  <div class="overlay" ng-click="closeSideMenu()"></div>
  <header>
    <a href="#" class="leftButton" ng-click="openLeftMenu()" eat-click>
      <i class="icon-align-justify"></i>
    </a>
    <a href="#" class="rightButton" ng-click="toggleSearchBar()" eat-click>
      <i class="icon-search"></i>
    </a>
    <h2>{{title}}</h2>
  </header>
  <section class="main-pane">
    <div class="head">
      <h1>{{repo.full_name}}</h1>
      <p class="repo-desc">{{repo.description}} <a ng-href="{{repo.homepage}}">{{repo.homepage}}</a></p>
    </div>
    <div class="contents">
      <span class="info pull-left">
        <i class="icon-code-fork"></i> {{repo.forks_count | number}} forked
      </span>
      <a class="action pull-right" fast-click="doStar()">
        <span class="action-inner">
          <span class="label"><i class="icon-star"></i>
          <span ng-show="starred">Unstar</span>
          <span ng-show="!starred">Star</span>
          </span><span class="count">{{repo.watchers_count || 0 | number}}</span>
        </span>
      </a>
      <a class="action pull-right" fast-click="openWatchModal('watchModal')">
        <span class="action-inner">
          <span class="label"><i class="icon-eye-open"></i>
          <span ng-show="watched && !ignored">Unwatch</span>
          <span ng-show="watched && ignored">Stop ignoring</span>
          <span ng-show="!watched">Watch</span>
          </span><span class="count">{{watchers + myWatchCount || 0 | number}}</span>
        </span>
      </a>
      <div class="language-graph">
        <ul>
          <li ng-repeat="l in languages" ng-style="l.style">
            <span>{{l.name}}: {{l.percentage}}%</span>
          </li>
        </ul>
      </div>
      <div class="repo-info">
        <ul>
          <li><i class="icon-code-fork"></i> {{branchCount}} branches</li>
          <li><i class="icon-tags"></i> {{tagCount}} releases</li>
          <li><i class="icon-user"></i> {{contributorCount }} contributors</li>
        </ul>

      </div>
      <div class="section">
        Contents Here
      </div>
    </div>
  </section>
</div>

<!-- modals -->
<div class="modal" modal="watchModal">
  <h4 class="modal-head">Notification status</h4>
  <div class="modal-body">
    <ul>
      <li fast-click="doWatch('notWatch')">
        <i class="icon-ok checker" ng-show="!watched"></i>
        Not Watching
        <span class="modal-desc">
          You only receive notifications for discussions in which you participate or are @mentioned.
        </span>
      </li>
      <li fast-click="doWatch('watch')">
        <i class="icon-ok checker" ng-show="watched && !ignored"></i>
        Watching
        <span class="modal-desc">
          You receive notifications for all discussions in this repository.
        </span>
      </li>
      <li fast-click="doWatch('ignore')">
        <i class="icon-ok checker" ng-show="watched && ignored"></i>
        Ignoring
        <span class="modal-desc">
          You do not receive any notifications for discussions in this repository.
        </span>
      </li>
      <li></li>
    </ul>
  </div>
</div>
