<ng-include src="'partials/sideMenus.html'"></ng-include>

<div class="wrapper" ng-class="{'sidemenu-left-open': openSideMenu, activeSearchBar:searchBar}">
  <div class="overlay" ng-click="closeSideMenu()"></div>
  <header>
    <a href="#" class="leftButton" ng-click="openLeftMenu()" eat-click>
      <i class="icon-align-justify"></i>
    </a>
    <a href="#" class="rightButton" ng-click="toggleSearchBar()" eat-click>
      <i class="icon-search"></i>
    </a>
    <h2>{{title}}</h2>
  </header>
  <section class="main-pane">
    <div class="head">
      <h1>{{repo.full_name}}</h1>
      <p class="repo-desc">{{repo.description}} <a ng-href="{{repo.homepage}}">{{repo.homepage}}</a></p>
    </div>
    <div class="contents">
      <span class="info pull-left">
        <i class="icon-code-fork"></i> {{repo.forks_count | number}} forked
      </span>
      <a class="action pull-right" fast-click="doStar()">
        <span class="action-inner">
          <span class="label"><i class="icon-star"></i>
          <span ng-show="starred">Unstar</span>
          <span ng-show="!starred">Star</span>
          </span><span class="count">{{repo.watchers_count | number}}</span>
        </span>
      </a>
      <div class="section">
        Contents Here
      </div>
    </div>
  </section>
</div>
