<div class="background">
  <nav class="sidemenu sidemenu-left sideMenuScroll" ng-controller="LeftSideMenuCtrl" ng-class="{'sidemenu-opened': LeftMenuOpened}">
    <div>
      <ul class="profile">
        <li class="avatar"><img ng-src="{{avatar}}"></li>
        <li class="text">{{userName}}</li>
      </ul>
      <ul class="menus" data-liffect="slideLeft" slide-effect>
        <li class="group">My menus</li>
        <li class="menu" clickable="selected" path="/timeline">Timeline</li>
        <li class="menu" clickable="selected">Issues</li>
        <li class="menu" clickable="selected">Followers</li>
        <li class="menu" clickable="selected">Following</li>
        <li class="menu" clickable="selected">Stared</li>
        <li class="menu" clickable="selected">Search</li>

        <li class="group">My repositories</li>
        <li ng-repeat="repo in repos" class="menu" clickable="selected" path="/repos/{{repo.full_name}}">
          {{repo.name}}
        </li>

        <li class="group">My organizations</li>
        <li ng-repeat="org in orgs" class="menu" clickable="selected" path="/orgs/{{org.login}}">
          {{org.login}}
        </li>
      </ul>
    </div>
  </nav>

  <nav class="sidemenu sidemenu-right sideMenuScroll" ng-controller="RightSideMenuCtrl" ng-class="{'sidemenu-opened': RightMenuOpened}">
    <div>
      <ul class="menus" data-liffect="slideLeft" slide-effect>
        <li class="group">Go to...</li>
        <li class="menu" clickable="selected" path="{{homePath}}">Home</li>
        <li class="menu" clickable="selected">Code</li>
        <li class="menu" clickable="selected">Issues</li>
        <li class="menu" clickable="selected">Pull requests</li>
        <li class="menu" clickable="selected">Wiki</li>
        <li class="menu" clickable="selected">Pulse</li>
        <li class="menu" clickable="selected">Graphs</li>
        <li class="menu" clickable="selected">Network</li>

        <li class="group">Branches</li>
        <li ng-repeat="branch in branches" class="menu" clickable="selected">
          {{branch.name}}
        </li>
      </ul>
    </div>
  </nav>
</div>
