<header>
  <a href="#" class="leftButton"><i class="icon-align-justify"></i></a>
  <a href="#" class="rightButton"><i class="icon-search"></i></a>
  <h1>{{title}}</h1>
</header>
<section class="main-body">
  <ul class="timeline">
    <li ng-repeat="t in timeline">
      <a href="/users/{{t.actor.login}}">
        <img ng-src="{{t.actor.avatar_url}}" class="avatar">
      </a>
      <a href="/users/{{t.actor.login}}" class="author">
        <span>{{t.actor.login}}</span>
      </a>

      <ng-switch on="t.type">
        <span ng-switch-when="CreateEvent" class="description">
          created {{t.payload.ref_type}} <a href="/repos/{{t.repo.name}}">{{t.repo.name}}</a>
        </span>
        <span ng-switch-when="WatchEvent" class="description">
          {{t.payload.action}} <a href="/repos/{{t.repo.name}}">{{t.repo.name}}</a>
        </span>
        <span ng-switch-when="FollowEvent" class="description">
          started following <a href="/users/{{t.payload.target.login}}">{{t.payload.target.login}}</a>
        </span>
        <span ng-switch-when="ForkEvent" class="description">
          forked <a href="/repos/{{t.repo.name}}">{{t.repo.name}}</a>
          to <a href="/repos/{{t.payload.forkee.full_name}}">{{t.payload.forkee.full_name}}</a>
        </span>
        <span ng-switch-when="PublicEvent" class="description">
          open sourced <a href="/repos/{{t.repo.name}}">{{t.repo.name}}</a>
        </span>
      </ng-switch>
    </li>
  </ul>
</section>
