<div class="background">
  <nav class="sidemenu sidemenu-left" ng-class="openSideMenu" ng-controller="LeftSideMenuCtrl" simple-scrollable>
    <div>
      <ul class="profile">
        <li class="avatar"><img ng-src="{{avatar}}"></li>
        <li class="text">{{userName}}</li>
      </ul>
      <ul class="menus" data-liffect="slideLeft" slide-effect>
        <li class="group">My menus</li>
        <li class="menu">Timeline</li>
        <li class="menu">Issues</li>
        <li class="menu">Followers</li>
        <li class="menu">Following</li>
        <li class="menu">Stared</li>

        <li class="group">My repositories</li>
        <li ng-repeat="repo in repos" class="menu">
          {{repo.name}}
        </li>

        <li class="group">My organizations</li>
        <li ng-repeat="org in orgs" class="menu">
          {{org.login}}
        </li>
      </ul>
    </div>
  </nav>
</div>

<div class="wrapper" ng-class="openSideMenu">
  <div class="overlay" ng-click="closeSideMenu()"></div>
  <header>
    <a href="#" class="leftButton" ng-click="openLeftMenu()" eat-click><i class="icon-align-justify"></i></a>
    <a href="#" class="rightButton"><i class="icon-search"></i></a>
    <h2>{{title}}</h2>
  </header>
  <section class="main-pane" pull-to-refresh when-scrolled-to-end="loadMore()">
    <div id="scroller">
      <div id="pullDown">
        <span class="pullDownLineWrap">
          <span class="pullDownLine"></span>
        </span>
        <span class="pullDownIcon">
          <span><i class="icon-refresh"></i></span>
        </span>
      </div>
      <ul class="timeline">
        <li ng-repeat="t in timeline | timelineEvent">
          <a href="/users/{{t.actor.login}}">
            <img ng-src="{{t.actor.avatar_url}}" class="avatar">
          </a>
          <a href="/users/{{t.actor.login}}" class="author">
            <span>{{t.actor.login}}</span>
          </a>
          <time>{{t.created_at | date:'short'}}</time>

          <ng-switch on="t.type">
            <span ng-switch-when="CreateEvent" class="description">
              created {{t.payload.ref_type}} {{t.payload.ref}}
              at <a href="/repos/{{t.repo.name}}">{{t.repo.name}}</a>
            </span>
            <span ng-switch-when="WatchEvent" class="description">
              {{t.payload.action}} <a href="/repos/{{t.repo.name}}">{{t.repo.name}}</a>
            </span>
            <span ng-switch-when="FollowEvent" class="description">
              started following <a href="/users/{{t.payload.target.login}}">{{t.payload.target.login}}</a>
            </span>
            <span ng-switch-when="ForkEvent" class="description">
              forked <a href="/repos/{{t.repo.name}}">{{t.repo.name}}</a>
              to <a href="/repos/{{t.payload.forkee.full_name}}">{{t.payload.forkee.full_name}}</a>
            </span>
            <span ng-switch-when="PublicEvent" class="description">
              open sourced <a href="/repos/{{t.repo.name}}">{{t.repo.name}}</a>
            </span>
            <span ng-switch-when="MemberEvent" class="description">
              {{t.payload.action}}
              <a href="/users/{{t.payload.member.login}}">{{t.payload.member.login}}</a>
              to
              <a href="/repos/{{t.repo.name}}">{{t.repo.name}}</a>
            </span>
            <span ng-switch-when="IssuesEvent" class="description">
              {{t.payload.action}} issue
              <a href="/repos/{{t.repo.name}}/issues/{{t.payload.issue.number}}">
                {{t.repo.name}}#{{t.payload.issue.number}}
              </a>
            </span>
            <span ng-switch-when="IssueCommentEvent" class="description">
              commented on issue
              <a href="/repos/{{t.repo.name}}/issues/{{t.payload.issue.number}}#issuecomment-{{t.payload.comment.id}}">
                {{t.repo.name}}#{{t.payload.issue.number}}
              </a>
            </span>
            <span ng-switch-when="PushEvent" class="description">
              pushed to
              <a href="/repos/{{t.repo.name}}/tree/{{t.payload.ref | stripRefs }}">
                {{t.payload.ref | stripRefs}}
              </a> at <a href="/repos/{{t.repo.name}}">{{t.repo.name}}</a>
            </span>
            <span ng-switch-when="PullRequestEvent" class="description">
              {{t.payload.action}} pull request
              <a href="/repos/{{t.repo.name}}/pulls/{{t.payload.pull_request.number}}">
                {{t.repo.name}}#{{t.payload.pull_request.number}}
              </a>
            </span>
            <span ng-switch-when="DeleteEvent" class="description">
              deleted {{t.payload.ref_type}} {{t.payload.ref}}
              at <a href="/repos/{{t.repo.name}}">{{t.repo.name}}</a>
            </span>
            <span ng-switch-when="CommitCommentEvent" class="description">
              commented on commit at
              <a href="/repos/{{t.repo.name}}/commit/{{t.payload.comment.commit.id}}#commitcomment-{{t.payload.comment.id}}">
                {{t.repo.name}}@{{t.payload.comment.commit_id | shortSha}}
              </a>
            </span>
            <span ng-switch-when="PullRequestReviewCommentEvent" class="description">
              commented on pull request
              <a href="/repos/{{t.repo.name}}/pulls/{{t.payload.pull_request.number}}#issuecomment-{{t.payload.comment.id}}">
                {{t.repo.name}}#{{t.payload.pull_request.number}}
              </a>
            </span>
            <span ng-switch-when="ReleaseEvent" class="description">
              released
              <a href="/repos/{{t.repo.name}}/releases/{{t.payload.release.tag_name}}">
                {{t.payload.release.name}}
              </a>
              at <a href="/repos/{{t.repo.name}}">{{t.repo.name}}</a>
            </span>
          </ng-switch>
        </li>
      </ul>
      <div id="scrollEnd">
        <span class="icon-refresh-animate" ng-show="scrollToEnd">
          <i class="icon-refresh icon-2x"></i>
        </span>
      </div>
    </div>
  </section>
</div>
